input[type=search]{margin-left:220px;margin-bottom:-73px;margin-top:55px; padding-right:15px}
input[type="text"]{text-transform: uppercase;width:300px;}
input[type="email"],[type="password"]{margin-left:510px}
#input-cadastro{width:400px;margin-left:480px;margin-top: -370px;margin-bottom: 120px;}

#tabela-fornecedor{margin-left:220px;margin-top: -310px;width:900px}
#texto-titulo{margin:3px;padding-top: 2px;}

.meuspan{margin-left:4px;padding:4px;background:linear-gradient(rgb(160, 159, 159),rgb(10, 9, 9));color:white;font-weight: bold;}
.botao-estilo{background:linear-gradient(#ccc,rgb(117, 113, 113));width:150px;font-weight: bold;border-radius: 15px;}
.selecionar:hover{background:#2067ec;}
.padrao{margin-top: -280px;margin-left:190px}

.estado-tabela{
  background-color:#ccc;
  margin-left:220px;
  width:50;
  padding:7px;
  border:solid 1px;
  font-weight:bold;
}
