input[type=search]{margin-left:220px;margin-bottom:-73px;margin-top:55px; padding-right:15px}
input[type="text"]{text-transform: capitalize;width:300px;}
input[type="email"],[type="password"]{margin-left:510px}

#input-cadastro{width:400px;margin-left:480px;margin-top: -370px;margin-bottom: 120px;font-weight: bold;}
#tabela-compradores{margin-left:220px;margin-top: -310px;width:900px}
#tabela-fornecedores{margin-left:220px;margin-top: -270px;width:900px;}
#texto-titulo{margin:3px;padding-top: 2px;}
#pesquisar_estilo{text-transform: capitalize;}

#form-altera_dados{margin-left: 100px;margin-bottom: 640px;font-weight: bold;}
#input-ID-alterar{width:50px;font-weight: bold;color:black}
#span-altera_dados{margin-left:488px;margin-bottom:240px;   padding:4px;background:linear-gradient(rgb(148, 147, 147),rgb(10, 9, 9));color:white;font-weight: bold;}
#altera_nome{width:200px}
details{background:rgb(173, 198, 245);cursor:pointer;width:200px;box-shadow: 1px 1px solid;}

.posicao_filtro_index{margin-right:430px;}
.redireciona{cursor: pointer;}
.meuspan{margin-left:4px;padding:4px;background:linear-gradient(rgb(148, 147, 147),rgb(10, 9, 9));color:white;font-weight: bold;}
.botao-estilo{background:linear-gradient(#ccc,rgb(34, 34, 34));width:150px;font-weight: bold;border-radius: 15px;color:white;}
.selecionar:hover{background:#2067ec;}
.padrao{margin-top: -280px;margin-left:190px;font-size: 14px;}
.titulo-lista-fornecedores{margin-bottom:360px;margin-top:-300px;margin-left:360px;}
.estado-tabela{
  background-color:#ccc;
  margin-left:220px;
  width:50;
  padding:7px;
  border:solid 1px;
  font-weight:bold;
}
